.lists {
  margin-bottom: 10px;
}

.lists div {
  border-bottom: 1px solid #ddd;
  padding: 10px 3%;
}

.list-name {
  font-size: 22px;
}

.task {
  margin-bottom: 5px;
}

.destroy-task {
  display: inline-block;
  background-color: #D9534F;
  color: white;
  padding: 2px;
  border-bottom: 2px solid white;
}
