<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "Todo List", "/", class: "navbar-brand" %>
      <%= login_options %>
    </div>
  </div>
</nav>
